/jpdfbookmarks_core/build/
/Colors/build/
/Colors/dist/
/Utilities/build/
/Utilities/dist/
/Bookmark/build/
/iText-2.1.7-patched/build/
/ResourceHelper/dist/
/ResourceHelper/build/
/CollapsingPanel/build/
/CollapsingPanel/dist/
/Bookmark/dist/
/iTextBookmarksConverter/build/
/iTextBookmarksConverter/dist/
/iText-2.1.7-patched/dist/
/jpdfbookmarks_graphics/build/
/jpdfbookmarks_graphics/dist/
/jpdfbookmarks_languages/dist/
/jpdfbookmarks_languages/build/
/jpdfbookmarks_core/dist/
/jpdfbookmarks_core/nbproject/private/
